services:
  redpanda:
    image: redpandadata/redpanda:v25.2.1
    container_name: redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp=1
      - --memory=1G
      - --reserve-memory=0M
      - --node-id=0
      - --check=false
      - --kafka-addr=PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:29092
      - --advertise-kafka-addr=PLAINTEXT://redpanda:9092,OUTSIDE://localhost:29092
    ports:
      - "9092:9092"  
      - "29092:29092" 
    healthcheck:
      test: ["CMD", "bash", "-c", "rpk cluster info || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 12

  postgres: 
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  es01:
    image: elasticsearch:8.14.3
    container_name: es01
    ports:
      - '9200:9200'
    volumes:
      - esdata:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" 

  kibana:
    image: kibana:8.14.3
    container_name: kibana
    ports:
      - '5601:5601' 
    environment:
      - ELASTICSEARCH_HOSTS=http://es01:9200

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data
  
volumes: 
  pgdata:
  esdata:
  redisdata: